{:paths   ["src"]
 :deps    {org.clojure/clojure          {:mvn/version "1.10.1"}
           org.clojure/data.xml         {:mvn/version "0.2.0-alpha6"}
           org.clojure/tools.cli        {:mvn/version "0.4.2"}
           org.clojure/tools.deps.alpha {:mvn/version "0.7.541"}
           org.clojure/tools.namespace  {:mvn/version "0.3.1"}}

 :aliases {:jar    {:main-opts ["--main" "cambada.jar"
                                "--app-group-id" "cambada"
                                "--app-artifact-id" "cambada"
                                "--app-version" "1.0.7"
                                "--aot" "all"]}

           :repl   {:extra-deps  {nrepl {:mvn/version "0.6.0"}}
                    :extra-paths ["src"]
                    :main-opts   ["--main" "nrepl.cmdline"]}

           ;; deploy: env CLOJARS_USERNAME=username CLOJARS_PASSWORD=password clj -A:deploy
           :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy"
                                 "target/cambada-1.0.7.jar" true]}}}
