{:paths   ["src"]
 :deps    {org.clojure/clojure          {:mvn/version "1.10.1"}
           org.clojure/data.xml         {:mvn/version "0.2.0-alpha6"}
           org.clojure/tools.cli        {:mvn/version "0.4.2"}
           org.clojure/tools.deps.alpha {:mvn/version "0.7.541"}
           org.clojure/tools.namespace  {:mvn/version "0.3.1"}}

 :aliases {:jar      {:main-opts ["--main" "cambada.jar"
                                  "--app-group-id" "cambada"
                                  "--app-artifact-id" "cambada"
                                  ;;"--app-version" "1.0.0"
                                  "--aot" "all"]}

           :repl     {:extra-deps  {nrepl {:mvn/version "0.6.0"}}
                      :extra-paths ["src"]
                      :main-opts   ["--main" "nrepl.cmdline"]}

           ;; 1. commit all changes
           ;; 2. clj -A:jar
           ;; 3. clj -A:garamond
           ;; Valid types: major, major-rc, major-release, minor, minor-rc, minor-release, patch.
           :garamond {:main-opts  ["-m" "garamond.main" "--pom" "--scm-url" "https://github.com/mikeananev/cambada"
                                   "--tag" "patch"]
                      :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}

           ;; deploy: env CLOJARS_USERNAME=username CLOJARS_PASSWORD=password clj -A:deploy
           :deploy   {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                      :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy"
                                   "target/cambada.jar" true]}}}
